/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Navbar
 */
.navbar {
    background-color: #0A243E;
}

#searchBtn {
    color: white;
    border-color: white;
}

#account-dropdown {
    float: right;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card-portal {
    width: 25rem;
    min-height: 280px;
}

div.tab-content {
    min-height: 200px;
}

.portal-chart {
    margin-top: 1.5rem;
    display: inline !important;
}

/*
 * Login Page
 */

/* Background */

#particles-js {
    background-color: #ffffff;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
}

#overlay {
    position: relative;
}

/* Card */

.card-login {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#login-logo {
    margin-bottom: 1rem;
}